<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Pokémon</title>
</head>
<body>


<nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">
        <div class="col-3 logo">
            <img class="img" style="height: 90px" src="./images/pokemon.png" alt="Pokemon">
        </div>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0 link-light">
                <li class="nav-item">
                    <a class="nav-link active link-light" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Pokémon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Select your Pokémon</a>
                </li>
            </ul>
           
        </div>
    </div>
</nav>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/main.js" defer></script>
    <link rel="stylesheet" href="../static/main.css">
    <title>Pokemon</title>
</head>
<body>
    <div class="container">
        <h1>Pokémon</h1>
        <button id="greetBtn">Hello Player!</button>
        <div id="greetMessage"></div>
        <div id="farewellMessage"></div>
    </div>
    <br>
    <br>
    
    <div class="search-show">
        <form class="show-form" action="GET" onsubmit="fetchData(event)">
            <input type="text" name="show" placeholder="Type any Pokémon" required>
            <button type="submit">Search</button>
        </form>
    </div>
    











    <div  class="container my-4 p-3 border rounded shadow" style="background-color: #b6ebf8;">

        <h1>Choose your Pokémon</h1>
        <p>Please enter which Pokémon you would like to add to your cart</p>
        <form>

        <div class="form-row">
            <div class="form-group col-12 col-md-6 pl-0">

                <label for="pokemondropdown">Select a Pokémon:</label>
                <select class="form-control" id="pokemondropdown">
             
                    <option>Select Pokémon</option>
                    <option>Pikachu</option>
                    <option>Charmander</option>
                    <option>Bulbasaur</option>
                    <option>Squirtle</option>

                </select>
            </div>
        
            <div class="form-group col-12 col-md-6 pr-0">
                <label for="pokémonid">Pokémon ID:</label>
                <input type="number" class="form-control" id="pokémonid" placeholder="Please Select your Pokémon ID" min="1">
            </div>

        </div>


        <div class="form-group col-12 col-md-6 pl-0">
            <label for="playerNotes">Pokémon features:</label>
            <textarea class="form-control" id="playerNotes" rows="4" placeholder="Enter any additional notes or features for your pokémon"></textarea>  
        </div>
        <div class="candles">
            <div class="my-4 mx-4 border rounded">
                <img src="./images/pokemon3.jpeg" class="img-fluid" alt="3 colorful Pokémon">
            </div>
        </div>
            <button type="submit" class="btn btn-primary mt-2">Catch them !</button>
        </form>
    </div>










    








            
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="d-flex">
                    <div class="card" style="width: 18rem;">
                        <img src="./images/pokemon2.jpeg" class="card-img-top" alt="Pikachu">
                        <div class="card-body">
                            <h5 class="card-title">Pikachu</h5>
                            <p class="card-text">Pokémon ID: 1 <br></p>
                            <a href="./main.html" class="btn btn-primary">Select Pokémon</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./images/charmander.png" class="card-img-top" alt="Charmander">
                        <div class="card-body">
                            <h5 class="card-title">Charmander</h5>
                            <p class="card-text">Pokémon ID: 2 <br></p>
                            <a href="./main.html" class="btn btn-primary">Select Pokémon</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./images/squirtle.jpeg" class="card-img-top" alt="Squirtle">
                        <div class="card-body">
                            <h5 class="card-title">Squirtle</h5>
                            <p class="card-text">Pokémon ID: 3 <br></p>
                            <a href="./main.html" class="btn btn-primary">Select Pokémon</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="./images/bulbasaur.jpeg" class="card-img-top" alt="Bulbasaur">
                        <div class="card-body">
                            <h5 class="card-title">Bulbasaur</h5>
                            <p class="card-text">Pokémon ID: 4<br></p>
                            <a href="./main.html" class="btn btn-primary">Select Pokémon</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="accordion-item">
            
        
</body>

</html>